<!-- 1. Accept / Decline a booking-->
<!-- 2. Display bookings: "Pending", "Accepted", "Declined"-->

<!-- 3. Delete Bookings (check delete method in the controller)-->

<!-- check edit/delete method in the controller-->
<div class="row">
    <% @kitchens.each do |kitchen| %>
      <div class="col-md-4">
        <div class="kitchen-card">
          <div class="kitchen-card-image" style="background-image: url('<%= cl_image_path kitchen.photo.key %>')"></div>
          <div class="kitchen-card-content">
            <div class="kitchen-card-title">
              <h4><%= kitchen.name %></h4>
            </div>
            <p><%= kitchen.address %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= kitchen.capacity %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= kitchen.price %></span>
              </div>
            </div>
          </div>
          <div class="kitchen-card-actions">
            <%= link_to "Show this kitchen", kitchen_path(kitchen) %>
          </div>
          <div>
          <ul>
            <% kitchen.bookings.each do |booking| %>
              <li>
                <p><%= booking.user.first_name %> wants to book on <%= booking.date %></p>
                <% if booking.status == "Pending" %>
                  <%= link_to "Accept", accept_path(booking), class:"btn btn-success" %>
                  <%= link_to "Decline", decline_path(booking), class:"btn btn-danger" %>
                <% end %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Display bookings for the kitchens this user wants to rent -->

<h2>My Bookings</h2>
<div>
  <ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to kitchen_path(booking.kitchen) do %>
        <%= booking.kitchen %>
        <%= booking.date %>
        <%= booking.status %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<!-- Display Kitchens (just for host tenant): i can go to that kitchen (show) and i have 2 actions (edit and delete) JUST FOR THAT HOST-USER -->
