<div class="container mt-3">
<h1>Take a look at our kitchens</h1>
</div>
<div class="row">
    <% @kitchens.each do |kitchen| %>
      <div class="col-md-4">
        <div class="kitchen-card">
          <div class="kitchen-card-image" style="background-image: url('<%= cl_image_path kitchen.photo.key %>')"></div>
          <div class="kitchen-card-content">
            <div class="kitchen-card-title">
              <h4><%= kitchen.name %></h4>
            </div>
            <p><%= kitchen.address %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= kitchen.capacity %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= kitchen.price %></span>
              </div>
            </div>
          </div>
          <div class="kitchen-card-actions">
            <%= link_to "Show this kitchen", kitchen_path(kitchen) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
