<div class="container">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_url("banner1.jpg") %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= image_url("banner2.jpg")%>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= image_url("banner3.jpg") %>" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="card-category" style ="color: black; opacity: 0.6">
<%= form_with url: kitchens_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control input",
    placeholder: "Find the best kitchen for yourself...", class: "input"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

</div>
<div class="row">
    <% @kitchens.each do |kitchen| %>
      <div class="col-md-4">
        <div class="kitchen-card">
          <div class="kitchen-card-image" style="background-image: url('<%= cl_image_path kitchen.photo.key if kitchen.photo.key %>')"></div>
          <div class="kitchen-card-content">
            <div class="kitchen-card-title">
              <h4><%= kitchen.name %></h4>
            </div>
            <p><%= kitchen.address %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= kitchen.capacity %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= kitchen.price %></span>
              </div>
            </div>
          </div>
          <div class="kitchen-card-actions">
            <%= link_to "Show this kitchen", kitchen_path(kitchen) %>
            <%= link_to "Edit", edit_kitchen_path(kitchen), class: "ms-3 text-warning" %>
            <%= link_to "Remove", kitchen_path(kitchen),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger"
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
