<div class="map" style="background-image: url('<%= cl_image_path @kitchen.photo.key %>')"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="kitchen-show-card">
        <h1><%= @kitchen.name %></h1>
        <p class="kitchen-show-address">Address: <%= @kitchen.address %></p>
      </div>
      <div class="kitchen-show-card">
        <h3>A bit more about this kitchen...</h3>
        <p>Description: <%= @kitchen.description %></p>
      </div>
          <div style="width: 100%; height: 600px"
                data-controller="map"
                data-map-marker-value="<%= @marker.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
    </div>

    <div class="col-4">
      <div class="kitchen-show-card">
        <h5>Book <%= @kitchen.name %></h5>
        <%= simple_form_for [@kitchen, @booking] do |f| %>
          <%= f.input :date, placeholder: '09/03/2023', label: "Start Date" %>
          <%= f.input :date, placeholder: '10/03/2023', label: "End Date" %>
          <%= f.submit class: "btn btn-secondary" %>
        <% end %>
      <div class="kitchen-show-card">
        <h4>Details</h4>
        <div class="flex">
          <div class="flex">
            <%= @kitchen.capacity %> people
          </div>
          <div class="flex ms-3">
            <%= @kitchen.price %>€
          </div>
        </div>
      </div>
      <div class="kitchen-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share this kitchen</h6>
          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
      <div class="kitchen-show-card">
      <h4>Reviews</h4>
            <% if @kitchen.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this kitchen</em></small>
      <% end %>
      <% @kitchen.reviews.each do |review| %>
        <div>
          <% review.raiting.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        </div>
        <hr>
      <% end %>
      <h5>Add your review</h5>
        <%= simple_form_for [@kitchen, @review] do |f| %>
          <%= f.input :comment, placeholder: "Add your review here..." %>
          <%= f.input :raiting, as: :select, collection: (1..5), required: true, prompt: "What's your rating" %>
          <%= f.submit class:"btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
