<div class="map" style="background-image: url('<%= cl_image_path @kitchen.photo.key %>')"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="kitchen-show-card">
        <h1><%= @kitchen.name %></h1>
        <p class="kitchen-show-address">Address: <%= @kitchen.address %></p>
      </div>
      <div class="kitchen-show-card">
        <h3>A bit more about this kitchen...</h3>
        <p>Description: <%= @kitchen.description %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="kitchen-show-card">
        <h5>Book <%= @kitchen.name %></h5>
        <%= simple_form_for [@kitchen, @booking] do |f| %>
          <%= f.input :date, placeholder: '09/03/2023', label: "Start Date" %>
          <%= f.input :date, placeholder: '10/03/2023', label: "End Date" %>
          <%= f.submit class: "btn btn-success mt-2" %>
        <% end %>
      <div class="kitchen-show-card">
        <h4>Details</h4>
        <div class="flex">
          <div class="flex">
            <%= @kitchen.capacity %> people
          </div>
          <div class="flex ms-3">
            <%= @kitchen.price %>€
          </div>
        </div>
      </div>
      <div class="kitchen-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share this kitchen</h6>

          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
